In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm_notebook as tqdm
from datetime import datetime
from sklearn import preprocessing
from sklearn.metrics import mean_absolute_error

import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_rows', 100)

In [2]:
df_train = pd.read_pickle("../input/df_train.pkl")
df_test = pd.read_pickle("../input/df_test.pkl")
meter_list = df_test.meter_id.unique()

print(df_train.shape, df_test.shape, len(meter_list))
df_train.head()

(636967, 7) (1185520, 7) 3248

,meter_id,date,meter_reading,month,day_of_month,day_of_week,meter_reading_mean
0,0x0001f1c389823f953b2eaee0a61c33539744da0c,2017-08-01,4.143,8,1,1,3.241
1,0x0001f1c389823f953b2eaee0a61c33539744da0c,2017-08-02,4.116,8,2,2,3.241
2,0x0001f1c389823f953b2eaee0a61c33539744da0c,2017-08-03,4.101,8,3,3,3.241
3,0x0001f1c389823f953b2eaee0a61c33539744da0c,2017-08-04,4.124,8,4,4,3.241
4,0x0001f1c389823f953b2eaee0a61c33539744da0c,2017-08-05,4.111,8,5,5,3.241

In [3]:
month_drop = [1,2,3,4,5,6,7,8,9,10] # discard month 1-10, only use Nov and Dec months
df_train.drop(df_train[df_train.month.isin(month_drop)].index, inplace=True)
df_train.reset_index(drop=True, inplace=True)

print(df_train.shape)
df_train.tail()

(187713, 7)

,meter_id,date,meter_reading,month,day_of_month,day_of_week,meter_reading_mean
187708,0xfff895258c21f1a58fc06538173d02b621021ad4,2017-12-27,0.000,12,27,2,6.999
187709,0xfff895258c21f1a58fc06538173d02b621021ad4,2017-12-28,9.945,12,28,3,6.999
187710,0xfff895258c21f1a58fc06538173d02b621021ad4,2017-12-29,0.000,12,29,4,6.999
187711,0xfff895258c21f1a58fc06538173d02b621021ad4,2017-12-30,6.984,12,30,5,6.999
187712,0xfff895258c21f1a58fc06538173d02b621021ad4,2017-12-31,7.460,12,31,6,6.999

In [4]:
mean_pred = df_train.groupby(["meter_id"])["meter_reading"].sum()/df_train.groupby(["meter_id"])["month"].nunique()

In [5]:
month_cols = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

sub = pd.DataFrame(columns=["meter_id"] + month_cols)
sub["meter_id"] = meter_list

for col in month_cols:
    sub[col] = sub["meter_id"].map(mean_pred).round().fillna(0)

In [6]:
print(f"SUBMISSION RECORD IS {sub.shape[0]}")
if len(sub) == 3248:
#     sub.to_csv("../submissions/mean_1112_pred.csv", index=False, header=True)
    print("SUBMISSION IS SAVED SUCCESSFULLY!")
else:
    print("SUBMISSION SHAPE IS WRONG!")

SUBMISSION RECORD IS 3248
SUBMISSION IS SAVED SUCCESSFULLY!